<nav class="header">
    <div class="navbar navbar-default">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header logo_wrapper">
            <a href="javascript:void(0);" class="pull-left left-menu-toggle" left-menu-toggle>
                <i class="icon-ham"></i>
            </a>
            <a ui-sref="landing.home" class="pull-left" scroll-top>
                <img class="logo" alt="" src="./images/logo_white_on_red.png">
                <span class="logo_lext hidden-xs">
                    {{::appName}}
                </span>
            </a>
        </div>
        <delhivery-user-details call-on-logout="logout()"></delhivery-user-details>
        <!-- <div style="display: inline-block;margin: 5px 0;float: right;">
            <div id="google_translate_element"></div>
        </div> -->
        <div style="display: inline-block;margin: 5px 0;float: right;">
            <search-bar ng-model="selectedFacilityName" list="userdata.facility_names" drop-limit="25" placeholder="Facility" show-field="facility_name" select-fxn="[getDashStats]"></search-bar>
        </div>
    </div>
</nav>
