<article class="loginContainer">
    <section ng-controller="LoginController">
        <delhivery-login call-after-login="login()" call-on-unauthorized="logout()"></delhivery-login>
        <!-- <button ng-click="login()"></button> -->
    </section>
</article>
