@import './base/themes',
'./base/delhivery-icons',
'./base/checkboxes',
'./base/website';


.map-input-container {
	position: absolute;
    background: transparent;
    padding: 5px;
    font-size: 1.4rem;
    display: flex;
    z-index: 1;
}

.map-container-block {
    display: block;
}

.map-white {
	background: white;
}

.map-smoke {
    box-shadow: 0 0 2px 1px #2f3748;
}

.map-t-l {
	top:5px;
	left:20px;
}

.map-t-r {
    top:5px;
    right:20px;
}

.map-t-m {
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.map-b-m {
	bottom: 5%;
    left: 50%;
    background: #2f3748;
    transform: translateX(-50%);
}

.map-input-container .btn {
	margin: 10px;
}

.map-options {
    background: #2F3748;
    color:white;
    width: 20%;
    max-height: 90%;
    overflow:scroll;
}

.map-options .initial {
    color: yellow;
}

.map-options .pending {
    color: green;
}

.map-options .rejected {
    color: red;
}

.map-options p {
    cursor:pointer;
}

.map-options h4 {
    color: #3cf0e2;
    border-bottom: 1px solid #3cf0e2;
}

.btn-green {
	background:green;
	color:white;
}

.polygon-tree-tab {
	text-transform:capitalize;
	padding:5px;
	margin:0 5px;
	color: #2f3748;
}

.alert-box {
    position: absolute;
    top: 10%;
    left: 35%;
}

.alert {
    border-radius: 0;
    font-size: 12px;
    color: #414042;
    padding: 15px;
    font-family: OpenSans-Semibold;
    overflow: hidden;
    display:block;
    position:relative;
    z-index:1000000000000;
    border-radius: 4px;
    margin: 5px 0;
    transition: opacity 0.5s;
}
.alert-success {
    background-color: #DBEAD7;
}
.alert-info {
    background-color: #DCEAF7;
}
.alert-warning {
    background-color: #F9DAB8;
}
.alert-danger {
    background-color: #F6CDCD;
}

.fade {
	opacity:.4;
}

.cursor .gm-style > div {
    cursor: crosshair !important;    
}

.version {
    text-align:center;
    font-size:1rem;
    cursor:pointer;
}

.version.active {
    font-size: 1.2rem;
    color: green;
}