.search-bar {
    display: inline-block;
    position: static;
    text-transform: capitalize;
    margin: 0 5px;
    width: 100%;
}

.search-bar input {
    display: table-column;
    padding: 5px;
    /*margin: 0 5px;*/
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px #888888;
}

.search-bar .option-wrapper {
    width: 100%;
    position: relative;
}

.search-bar .search-options {
    max-height: 250px;
    width: 75%;
    /*margin: 0 5px;*/
    z-index: 1;
    padding: 0;
    overflow-y: scroll;
    position: absolute;
    box-shadow: 0 0 3px #888888;
    cursor: pointer;
}

.search-bar .search-options .option:hover,
.search-bar .search-options .option.active {
    background: lightblue;
}

.search-bar .search-options .option {
    background: white;
    word-break: break-word;
    margin: 0;
    padding: 2%;
    border-bottom: 1px solid #e2e1e1;
}
