<div class="content-wrapper menu_visible" title>
    <div class="grey_background"></div>
    <div id="sidebar-wrapper">
        <div ui-view="sidebar"></div>
    </div>
    <div class="content-area">
        <div class="container-fluid">
            <section>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div ui-view></div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>