<div class="panel panel-default">
    <div>
        <section>
            <div>
                <div class="alert-box">
                    <div close="closeAlert($index)" uib-alert ng-repeat="alert in alerts track by $index" class="{{'alert-' + (alert.class || 'warning') }} alert">
                        <strong> {{ alert.type }} </strong> {{ alert.msg }}
                        <p>{{session.facList}}</p>
                    </div>
                </div>
                <div id="map" class="map"></div>
                <div ng-if="locality.rec_id" class="map-input-container map-b-m">
                    <button class="btn " ng-disable="!locality.polygon.length" ng-click="updateStatus('save')">Save</button>
                    <button class="btn " ng-click="updateStatus('reset')">Reset</button>
                    <button class="btn " ng-class="{'btn-green' : action == 'redrawn' && !locality.polygon }" ng-click="updateStatus('redraw')">Clear</button>
                </div>
                <div ng-if="facs.length" class="map-input-container map-options map-t-l map-container-block">
                    <input ng-model="searchPhrase" placeholder="Locality" style="width: 100%;color:#2F3748;">
                    <div class="">
                        <div ng-repeat="block in facs | orderBy : 'status' : true ">
                            <h4>{{ statusMsg[block.status] }}</h4>
                            <p ng-repeat="item in block.localities | filter : searchPhrase " ng-class="item.polygon_status" ng-click="getPolygon({ 'polygon_id' : item.rec_id })"> {{ item.rec_name }} </p>
                        </div>
                    </div>
                </div>
                <div ng-if="locality.rec_id" class="map-input-container map-white map-t-m map-smoke">
                    <div ng-repeat="node in locality.hierarchy | orderBy:'$index':true" style="display: flex;">
                        <span class="polygon-tree-tab">{{ node }}</span>
                        <span ng-if="!$last " class="polygon-tree-tab">></span>
                    </div>
                </div>
                <div ng-if="locality.fe_mark_rejected.length" class="map-input-container map-white map-t-r map-smoke map-container-block">
                    <h3>Rejected by :</h3>
                    <div ng-repeat="email in locality.fe_mark_rejected track by $index">
                        <p>{{ email }}</p>
                    </div>
                </div>
                <button id="delete" ng-show="polyArray.length" ng-click="undo()"><i class="fa fa-undo" aria-hidden="true"></i></button>
            </div>
        </section>
    </div>
</div>
