<div class="layout-container">
    <div ui-view="header"></div>
    <div ui-view="content"></div>
    <!-- <div ui-view="footer" class="footer"></div> -->
</div>

<!-- <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
</script><script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->