<div class="panel panel-default">
    <div>
        <section>
            <div>
                <div class="alert-box">
                    <div close="closeAlert($index)" uib-alert ng-repeat="alert in alerts track by $index" class="{{'alert-' + (alert.class || 'warning') }} alert">
                        <strong> {{ alert.type }} </strong> {{ alert.msg }}
                    </div>
                </div>
                <div id="map" class="map"></div>
                <div ng-if="locality.rec_id" class="map-input-container map-b-m">
                    <button class="btn btn-green" ng-click="updateStatus('verified')">Verify</button>
                    <button class="btn " ng-click="updateStatus('skip')">Skip</button>
                    <button class="btn btn-red" ng-click="updateStatus('rejected')">Reject</button>
                </div>
                <div ng-if="locality.rec_id" class="map-input-container map-white map-t-l map-smoke">
                    <div ng-repeat="node in locality.hierarchy | orderBy:'$index':true" style="display: flex;">
                        <span class="polygon-tree-tab">{{ node }}</span>
                        <span ng-if="!$last" class="polygon-tree-tab"> > </span>
                    </div>
                </div>
                <div ng-if="locality.rec_id" class="map-input-container map-white map-t-r map-smoke map-container-block" style="text-align: right;">
                    <div>
                        <span class="polygon-tree-tab">Remaining polygons :</span>
                        <span class="polygon-tree-tab">{{ locality.remain_poly_count }} </span>
                    </div>
                    <div>
                        <span class="polygon-tree-tab">Skipped polygons :</span>
                        <span class="polygon-tree-tab">{{ locality.skipped_poly_count }} </span>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
