<ul class="nav sidebar-nav" id="accordion" role="tablist" aria-multiselectable="false">
    <li ng-repeat="menuLink in menuLinks | orderBy:'name'" ng-class="{active: isActive(menuLink.link), 'parent_menu panel':menuLink.subMenu}">
        <a ui-sref={{menuLink.link}} ng-if="!menuLink.subMenu">
            <i ng-class="menuLink.class"></i>{{::menuLink.name}}
        </a>
    </li>
</ul>