.map-input-container input {
	display: table-column;
    padding: 5px;
    /* margin: 0 5px; */
    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 3px #888888;
}

.map {
	height: 94vh;
}

ol-overlaycontainer,.ol-overlaycontainer-stopevent {
	position: absolute;
    right: 3rem;
    bottom: 5rem
}
    

.ol-attribution {
	display:none;
}