<div class="panel panel-default" style="margin-bottom: 0;">
    <div>
        <section>
            <div>
                <div id="map" class="map"></div>
                <div class="map-input-container map-t-l" style="display: block;">
                    <div style="display: flex">
                        <input ng-model="locRecID" style="margin-left: 6px;" type="" name="" placeholder="Rec ID">
                        <button class="btn" style="margin: 0 10px;" ng-click="getLocality({rec_id:locRecID})">Go</button>
                    </div>
                    <br>
                    <div style="display: flex">
                        <search-bar ng-model="city" list="cities" show-field="city" placeholder="City" select-fxn="[getLocalities]"></search-bar>
                        <search-bar ng-show="localities.length" ng-model="loc" list="localities" show-field="rec_name" drop-limit="100" placeholder="Locality" select-fxn="[getLocality]"></search-bar>
                    </div>
                </div>
                <div ng-show="locality.history" class="map-input-container map-white map-container-block map-smoke map-t-r">
                    <div ng-repeat="poly in locality.history track by $index">
                        <p ng-show="!$first" style="text-align: center;"><i class="fa fa-arrow-up" aria-hidden="true"></i></p>
                        <input type="checkbox" ng-checked="compareArr.indexOf($index) > -1" ng-click="select($index)" style="position: relative;left:0;visibility: visible;">
                        <span class="version" ng-click="plotHistory($index)" ng-class="{ active : $index === version}"> {{ poly.modified | date }} </span> <span> {{ poly.status }}</span>
                    </div>
                    <button class="btn" style="font-size: .7rem; margin:5px 0;" ng-click="comparePlot()"> Compare </button>
                    <button class="btn" style="font-size: .7rem; margin:5px 0;" ng-click="clear()"> Clear </button>
                </div>
            </div>
        </section>
    </div>
</div>
