<div class="panel panel-default">
    <div class="panel-body">
        <section>
            <div>
                <div ng-repeat="facStats in stats" class="status-table jumbotron well table-responsive">
                    <h3>Facility polygon status : {{ facilityNames[facStats.facility_id] }}</h3>
                    <table class="table table-bordered table-hover table-striped table-responsive">
                        <thead class="thead-inverse">
                            <tr>
                                <th>Status</th>
                                <th>Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in facStats.stats">
                                <td ng-bind="statusText[item.status]"></td>
                                <td ng-bind="item.count"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>
</div>
