//- This is a template for index.html.
//-   It uses pug(jade) and htmlWebpackPlugin to generate a different index.html for each environment.
//-   htmlWebpackPlugin will dynamically add references to the scripts and styles that it bundles to this file.
//-   The generated bundles have hash-based filenames, so it's necessary to add the references dynamically.
//-   For more info on pug, see https://pugjs.org/api/getting-started.html. For examples of using it with htmlWebpackPlugin

doctype html
html(ng-app="delhivery.starter")
    base(href="/")
    head
        title(ng-bind="'Delhivery- ' + ($root.title)")

        meta(name="viewport", content="width=device-width, initial-scale=1")
        meta(http-equiv="Content-Type", content="text/html; charset=UTF-8")
        link(rel="icon" href="favicon.ico" sizes="16x16")
        link(rel="stylesheet" href="https://openlayers.org/en/v4.5.0/css/ol.css")
        script(src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL")
        script(src="https://openlayers.org/en/v4.5.0/build/ol.js")
    body
        include app/layout/layout.html
