/*..........Font starts........*/
@font-face {
    font-family: OpenSans-Light;
    src: url(../fonts/Opensans/OpenSans-Light.ttf);
}

@font-face {
    font-family: OpenSans-LightItalic;
    src: url(../fonts/Opensans/OpenSans-LightItalic.ttf);
}

@font-face {
    font-family: OpenSans-Regular;
    src: url(../fonts/Opensans/OpenSans-Regular.ttf);
}

@font-face {
    font-family: OpenSans-Italic;
    src: url(../fonts/Opensans/OpenSans-Italic.ttf);
}

@font-face {
    font-family: OpenSans-Semibold;
    src: url(../fonts/Opensans/OpenSans-Semibold.ttf);
}

@font-face {
    font-family: OpenSans-SemiboldItalic;
    src: url(../fonts/Opensans/OpenSans-SemiboldItalic.ttf);
}

@font-face {
    font-family: OpenSans-Bold;
    src: url(../fonts/Opensans/OpenSans-Bold.ttf);
}

@font-face {
    font-family: OpenSans-BoldItalic;
    src: url(../fonts/Opensans/OpenSans-BoldItalic.ttf);
}

/*..........Font ends........*/

/*...................General styling starts...............*/

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F1F3F4;
    min-height: 100%;
    position: relative;
    font-family: OpenSans-Regular;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.vis_hidden {
    visibility: hidden;
}

.position-r {
    position: relative;
}

p {
    font-size: 13px;
    font-family: OpenSans-Regular;
    line-height: 18px;
}

.small {
    font-size: 12px;
}

a {
    font-size: 13px;
}

a,
a:hover,
a:focus,
a.btn,
a.btn:hover,
a.btn:focus {
    color: #2C4ED4;
    text-decoration: none;
    outline: none;
    cursor: pointer;
}

.grey_background {
    z-index: 80;
}

.has-success .form-control {
    border-color: #417505;
    border-width: 2px;
}

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline,
.has-success.radio label,
.has-success.checkbox label,
.has-success.radio-inline label,
.has-success.checkbox-inline label {
    color: #417505;
}

.has-warning .form-control {
    border-color: #EC8C21;
    border-width: 2px;
}

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline,
.has-warning.radio label,
.has-warning.checkbox label,
.has-warning.radio-inline label,
.has-warning.checkbox-inline label {
    color: #EC8C21;
}

.has-error .form-control {
    border-color: #700A00;
    border-width: 2px;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #700A00;
}

.has-feedback label~.form-control-feedback {
    top: 18px;
    font-size: 12px;
}

.has-success .form-control-feedback {
    color: #6eaa5c;
}

.has-warning .form-control-feedback {
    color: #e3c644;
}

.has-error .form-control-feedback {
    color: #d93434;
}

.well {
    min-height: 20px;
    padding: 12px;
    margin-bottom: 0px;
    background-color: #f5f5f5;
    border: 1px solid #DEDEDE;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.lang {
    margin: 0;
    padding: 8px;
    position: absolute;
    top: 0;
    right: 20px;
}

.lang a {
    font-size: 12px;
    font-family: OpenSans-Regular;
    color: #999999;
}

.lang a:hover {
    text-decoration: none;
    color: #414042;
}

.lang img {
    width: 30px;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.language {
    list-style-type: none;
}

.language a {
    color: #fff;
}

g.highcharts-button {
    display: none;
}


section {
    margin-bottom: 30px;
}

/*...................General styling ends...............*/


/*............... Navbar starts............... */

.navbar {
    min-height: 30px;
    z-index: 100;
}

.navbar-default {
    background: #2F3748;
    border: medium none;
    border-radius: 0;
    -webkit-box-shadow: 0 0 5px 0 #BDBDBD;
    -moz-box-shadow: 0 0 5px 0 #BDBDBD;
    box-shadow: 0 0 5px 0 #BDBDBD;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    background-color: transparent;
    color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-size: 13px;
    padding: 10px 14px;
}

.logo_wrapper .left-menu-toggle,
.logo_wrapper .left-menu-toggle:hover {
    color: #fff;
    font-size: 18px;
    padding: 2px 7px;
    position: relative;
    top: 3px;
    left: 2px;
    margin-right: 5px;
}

.navbar-header {
    margin: 4px 5px;
    color: #fff;
}

.navbar-header a:focus,
.navbar-header a:hover {
    text-decoration: none;
}

.navbar-right {
    margin-right: 0;
}

.header {
    background: transparent;
    margin-bottom: 40px;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.header ul.navbar-nav li a i.icon-pdown,
.login_wrapper .dropdown a i.icon-pdown,
a.dropdown-toggle i.icon-pdown {
    font-size: 9px;
    margin-left: 5px;
}

.header ul.navbar-nav li a i,
a.dropdown-toggle i {
    vertical-align: middle;
    font-size: 14px;
}

.header .navbar-default {
    margin: 0;
}

.header ul.navbar-nav li a i.icon-dp,
a.dropdown-toggle i.icon-dp {
    font-size: 18px;
    margin-right: 5px;
    position: relative;
    top: -2px;
}

.logo {
    border-radius: 100px;
    width: 24px;
    vertical-align: middle;
    padding-top: 4px;
}

.logo_lext {
    color: #fff;
    font-family: OpenSans-SemiBoldItalic;
    font-size: 16px;
    padding-left: 8px;
    position: relative;
    text-transform: uppercase;
    top: 5px;
}

/*............... Navbar ends............... */

/*..............Content area starts.................*/

.content-area {
    margin: 0 auto;
    height: 100%;
    min-height: 100%;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.menu_visible .content-area {
    padding-left: 200px;
}

#sidebar-wrapper.collapsed + .content-area {
    padding-left: 0;
}

.content-wrapper {
    min-height: 100%;
    padding-top: 40px;
    z-index: 900;
}

.content-area-footer {
    background: #FFFFFF;
    border-top: thin solid #c9c9c9;
    bottom: 0;
    padding: 10px 15px;
    position: fixed;
    right: 0;
    width: calc(100% - 201px);
    z-index: 100;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.35);
    text-align: right;
    z-index: 70;
}

/*.................Content area ends............*/


/*................Login forms starts starts............*/
.form-group {
    margin-bottom: 40px;
    position: relative;
}

.login-form {
    width: 100%;
    max-width: 350px;
    border-radius: 2px;
    margin: 0 auto;
    text-align: center;
}

.login-form button span {
    font-size: 15px;
}

.login-form label {
    float: left!important;
    font-weight: normal;
}

.login-form .login-link {
    bottom: -40px;
    display: block;
    left: 0;
    list-style: outside none none;
    padding: 0;
    position: absolute;
    width: 100%;
}

.login_title {
    font-size: 22px;
    font-family: OpenSans-BoldItalic;
    color: #656466;
}

.login_logo {
    width: 106px;
    border-radius: 100px;
}

.login_title_secondary {
    font-size: 18px;
    color: #656466;
    margin-bottom: 0;
    line-height: 1.4;
}

.login_title_secondary span {
    line-height: 1.5;
    font-size: 12px;
}

.login_title_secondary p {
    font-size: 12px;
    line-height: 1;
}

.login-form .form-control {
    height: 32px;
    font-size: 12px;
}

.login-form img {
    max-width: 70%;
}

.login_wrapper {
    padding: 50px 20px 90px;
}

.link-sm {
    color: #1072e3;
    font-family: OpenSans-regular;
    font-size: 12px;
}

.card {
    background: #F5F5F5 none repeat scroll 0% 0%;
    box-shadow: 0px 0px 1px 0px #b1b1b1;
    border-radius: 2px;
    max-width: 423px;
    margin: 0px auto;
    padding: 20px;
    position: relative;
}

.card .card_title {
    color: #217589;
    font-size: 14px;
    font-family: OpenSans-Semibold;
    margin-bottom: 22px;
}

.card.success i.icon {
    font-size: 36px;
    color: #6eaa5c;
}

/*.......Login forms ends...........*/


/*..........Time picker and date picker starts................*/

.input-group{
    width:100%;
}

.input-daterange,.input-time {
    display: table-row;
}

.input-time .input-group{
    width: 61px;
}

.input-time .separator{
    position: absolute;
    top: 6px;
    left: 60px;
}

.input-time .input-group:first-child input{
    padding-right: 0px;
}

.input-time .input-group:nth-child(2) input{
    padding-left: 10px;
    padding-right: 0;
}

.input-time .input-group:nth-child(2) .input-label{
    left: 10px;
}

.input-time .input-group:nth-child(3) .form-control{
    top: -1px;
    border:none;
    padding-left: 5px;
}

.input-time .caret{
    top: 22px !important;
    right: 8px !important;
}

.input-time input.form-control.active{
    border-bottom: 2px solid #F0503C;
}

.input-with-icon input.form-control.active ~ .input-group-addon{
    color: #F0503C;
}

.input-daterange .input-group, .input-time .input-group{
    display: table-cell;
}


.input-daterange .input-group:first-child{
    padding-right: 10px;
}

.input-daterange .form-control {
    width: auto;
}

.input-daterange .input-group-addon {
    border-left: 0;
    border-right: 0;
    position: relative;
    top: -24px;
    left: -3px;
}

.datepicker.dropdown-menu {
    color: rgba(0, 0, 0, 0.6);
}

.datepicker table tr td.active.active {
    background-image: none;
    background-color: #F0503C;
    border-radius: 50%;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused,
.datepicker table tr td.today {
    background-color: #DBDBDB;
    border-radius: 50%;
}

.datepicker.dropdown-menu th,
.datepicker.dropdown-menu td {
    padding: 6px 9px;
    font-weight: normal;
}

.datepicker.dropdown-menu tr:first-child th {
    font-weight: normal;
    font-size: 14px;
}

.datepicker.dropdown-menu th.dow {
    color: rgba(0, 0, 0, 0.35);
}

#datepicker>span:hover {
    cursor: pointer;
}

/*..........Time picker and date picker ends................*/

/*.................Button starts...........*/
.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-family: opensans-semibold;
    font-size: 13px;
    line-height: 16px;
    outline: none;
    padding: 6px 20px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    -webkit-transition: all 0.1s ease 0.1s !important;
    -moz-transition: all 0.1s ease 0.1s !important;
    transition: all 0.1s ease 0.1s !important;
    word-spacing: 3px;
}

.btn[disabled] {
    cursor: not-allowed;
    pointer-events: inherit;
}

.btn span.glyphicon,
.btn i {
    margin-right: 5px;
}

.btn-primary,
.btn-red {
    background: #F0503C;
    border: 1px solid #F0503C;
    color: #FFFFFF;
    font-family: OpenSans-Regular;
    letter-spacing: 1.2px;
}

.btn-primary:hover,
.btn-red:hover {
    background-color: #ff5e4f;
    border: 1px solid #ff5e4f;
    color: #FFFFFF;
}

.btn-default,
.btn-secondary {
    background: #D9D9D9;
    border: 1px solid #c9c9c9;
    color: rgba(0, 0, 0, 0.87) !important;
}

.btn-border {
    background-color: #FFFFFF;
    border: 1px solid #A6A6A6;
    color: #000000 !important;
    font-family: OpenSans-Regular;
    text-transform: capitalize;
}

.btn-group {
    margin-bottom: 15px;
}

.btn-group .btn-border.active {
    border: 1px solid #F0503C;
    background-color: #F0503C !important;
    color: white;
}

.btn-default:hover,
.btn-secondary:hover {
    background-color: #ececec;
    border: 1px solid #d9d9d9 !important;
    border: #d9d9d9;
}

.btn-default[disabled],
.btn-default[disabled]:hover,
.btn-secondary[disabled],
.btn-secondary[disabled]:hover {
    background: rgba(217, 217, 217, 0.50);
    border: rgba(201, 201, 201, 0.14);
    color: rgba(0, 0, 0, 0.14) !important;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-group.disabled {
    pointer-events: none;
    opacity: 0.2;
}

.btn-border.disabled {
    background-color: #ffffff !important;
    opacity: 0.2;
}

.btn-flat,
.btn-border {
    background: #ffffff;
    color: rgba(0, 0, 0, 0.60);
}

.btn-flat:hover,
.btn-border:hover {
    background-color: #EEEEEE;
}

.btn-flat:active,
.btn-flat:focus {
    background: #EEEEEE;
}

.btn-flat[disabled],
.btn-flat[disabled]:hover,
.btn-border[disabled],
.btn-border[disabled]:hover {
    background: transparent;
    border: 1px solid transparent;
    color: rgba(0, 0, 0, 0.18);
    box-shadow: none;
}

.btn:active,
.btn:focus {
    outline: none !important;
    -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.02) inset, 0px 8px 12px 0px rgba(0, 0, 0, 0.12) inset;
    -moz-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.02) inset, 0px 8px 12px 0px rgba(0, 0, 0, 0.12) inset;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.02) inset, 0px 8px 12px 0px rgba(0, 0, 0, 0.12) inset;
}

.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-red:focus,
.btn-red.focus,
.btn-red:active,
.btn-red.active,
.open > .dropdown-toggle.btn-red {
    background-color: #F0503C !important;
    border: 1px solid #F0503C;
    outline: none !important;
    color: #ffffff;
}

.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active,
.open > .dropdown-toggle.btn-secondary {
    background-color: #D9D9D9 !important;
    outline: none !important;
}

.btn-red[disabled],
.btn-red[disabled]:hover,
.btn-primary[disabled],
.btn-primary[disabled]:hover,
.btn-secondary[disabled],
.btn-secondary[disabled]:hover {
    background: rgba(240, 80, 60, 0.12);
    border: none;
    color: rgba(0, 0, 0, 0.14);
    box-shadow: none;
}

label.btn.active {
    box-shadow: none !important;
    background-color: #999999 !important;
    color: #FFFFFF !important;
}

label.btn {
    border-left: 1px solid #C2C2C2;
}

label.btn.disabled {
    background-color: #F0F0F0;
    color: #C9C9C9;
}

label.btn.disabled input:hover {
    cursor: not-allowed !important;
}

/*.................Button ends...........*/

/*........Input text starts......*/

.form-control {
    border: none;
    box-shadow: none !important;
    border-radius: 0;
    border-bottom: 1px solid #a6a6a6;
    font-size: 14px;
    line-height: 21px;
    color: #414042;
    background: transparent;
    padding: 0;
    padding-top: 10px;
}

.form-control::-webkit-input-placeholder {
    color: #999999;
    font-size: 11px;
}

.form-control:-moz-placeholder {
    color: #999999;
    font-size: 11px;
}

.form-control::-moz-placeholder {
    color: #999999;
    font-size: 11px;
}

.form-control:-ms-input-placeholder {
    color: #999999;
    font-size: 11px;
}

.form-control:focus {
    border-bottom: 2px solid #F0503C;
    color: #414042;
    box-shadow: none;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background: #ffffff;
    color: #cfcfcf;
}

.form-control[disabled],
fieldset[disabled] .form-control {
    border-bottom: 1px dashed;
    opacity: 0.5;
}

.form-control[disabled] + .input-label {
    opacity: 0.5;
}

.input-group-addon {
    background-color: transparent;
    position: absolute;
    border: none;
    border-width: 1px medium 1px 1px;
    padding: 0px 5px;
    color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 10px;
    font-size: 16px;
    left: 0;
}

.input-group-addon.active {
    color: #F0503C
}

.input-with-icon input {
    padding-left: 28px;
    padding-right: 26px;
}

.input-with-icon input:focus ~ .input-group-addon {
    color: #F0503C;
}

.input-group-btn>.btn {
    border-bottom-left-radius: 0px;
}

input[type="text"].form-control:focus ~ .clear-text-icon {
    opacity: 1;
}

.input-label {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 12px;
    pointer-events: none;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    line-height: 19px;
    z-index: 899;
}

.input-group-addon ~ .input-label {
    left: 28px;
    top: 8px;
}

.input-group-addon ~ .clear-text-icon {
    right: 5px;
}

.input-group .input-label {
    top: 8px;
}

.input-group .form-control {
    position: relative;
    top: -2px;
}

.input-group .clear-text-icon {
    z-index: 10;
    cursor: pointer;
    background-color: white;
    border: none;
    width: 14px;
    height: 14px;
    opacity: 0;
    position: absolute;
    right: 108px;
    top: 10px;
}

.input-group .clear-text-icon:focus {
    outline: none;
}

.input-label.active {
    font-size: 11px;
    line-height: 15px;
    top: -8px;
}

textarea.form-control {
    min-height: 40px;
}

textarea+.input-label {
    position: absolute;
    top: 5px;
}

textarea+.input-label.active {
    font-size: 11px;
    top: -20px;
}

textarea ~ .help-block {
    bottom: -24px;
}

.input_for_file {
    color: rgba(0, 0, 0, 0.87) !important;
}

input:read-only,
input:-moz-read-only {
    background-color: #fff !important;
}

.hint_txt {
    font-size: 11px;
    font-family: OpenSans-Italic;
    color: rgba(0, 0, 0, 0.35);
}

.help-block {
    font-size: 11px;
    text-align: right;
    bottom: 0;
    right: 0;
    font-family: OpenSans-Semibold;
    margin: 0;
}

textarea + .help-block {
    position: relative;
    text-align: right;
    font-family: OpenSans-Regular;
}

/*........Input text ends......*/

/*.......Dropdown starts.........*/

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
    outline: 0 none;
    text-decoration: none;
}

.custom-dropdown {
    max-width: 300px;
}

.dropdown-menu {
    border-radius: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 0;
    background: #FAFAFA;
    border: none;
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12), 0px 2px 2px 0px rgba(0, 0, 0, 0.24);
}

.dropdown-menu a i {
    margin-right: 10px;
    color: #636363;
    font-size: 17px;
    width: 16px;
}

.dropdown-menu-left{
    left: auto;
    right: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus {
    color: #262626;
    text-decoration: none !important;
    font-family: opensans-semibold;
    background: none;
}

.dropdown .caret {
    position: absolute;
    right: 10px;
    top: 17px;
}

.dropdown-menu>.active>a:hover {
    background-color: #f5f5f5 !important;
    color: #262626;
    text-decoration: none !important;
}

.bootstrap-select .dropdown-menu,.multiselect .dropdown-menu{
    top: 0;
}

.dropdown .checkbox {
    margin: 0;
}

a.dropdown-toggle {
    color: #656466;
    min-height: 20px;
    min-width: 20px;
    display: inline-block;
}

a.dropdown-toggle i+span {
    font-size: 13px;
}

.dropdown-menu li>a,
.dropdown-menu li label {
    padding: 8px 12px;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
}

.btn.dropdown-toggle {
    text-transform: capitalize;
    font-family: Opensans-Regular;
    padding-left: 0;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-menu .dropdown-heading {
    border-bottom: 1px solid #E5E5E5;
}

.bootstrap-select {
    position: relative;
}

.bootstrap-select .dropdown-menu li>a:hover,
.bootstrap-select .dropdown-menu li>a:focus,
.dropdown-menu li>label:hover {
    background-color: #F5F5F5;
}

.bootstrap-select .dropdown-toggle:focus {
    outline: none;
}

.bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #414042;
}

.bootstrap-select.btn-group.disabled,
.bootstrap-select.btn-group>.disabled {
    background-color: #F0F0F0;
    color: #C9C9C9;
}


/*..........Dropdown ends...............*/


/*...............Typography starts.................*/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: OpenSans-Semibold;
    color: rgba(0, 0, 0, 0.87);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
    margin-top: 6px;
    margin-bottom: 12px;
}

h1 {
    font-size: 32px;
    line-height: 43px;
}

h2 {
    font-size: 24px;
    line-height: 33px;
}

h3 {
    font-size: 20px;
    line-height: 27px;
}

h4 {
    font-size: 18px;
    line-height: 24px;
}

h5 {
    font-size: 16px;
    line-height: 22px;
}

h6 {
    font-size: 14px;
    line-height: 19px;
}

strong {
    font-family: OpenSans-Semibold;
    color: #414042;
}

.jumbo-text {
    font-size: 48px;
    font-family: OpenSans-Semibold;
    line-height: 65px;
}

.txt-semibold,.semi-bold  {
    font-family: opensans-semibold;
}

.txt-bold,.bold {
    font-family: opensans-bold;
}

.txt-regular,.regular  {
    font-family: opensans-regular;
}

.italic {
    font-family: OpenSans-Italic;
}

.page_title {
    color: rgba(0, 0, 0, 0.87);
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: transparent;
}

.text-success {
    color: #6EAA5C !important;
}

.text-info {
    color: #469df0 !important;
}

.text-warning {
    color: #dfbf2f !important;
}

.text-danger {
    color: #D93434 !important;
}

blockquote {
    padding: 10px 18px;
    margin: 0 0 20px;
    font-size: 12px;
    border-left: 8px solid #217589;
}

blockquote p {
    color: #414042;
}

blockquote footer,
blockquote small,
blockquote .small {
    display: block;
    font-size: 11px;
    line-height: 1.428571;
    color: #646566;
    font-family: opensans-Italic;
}

.blockquote-reverse,
blockquote.pull-right {
    text-align: right;
    border-left: 0;
    padding: 10px 18px;
    margin: 0 0 20px;
    font-size: 12px;
    border-right: 8px solid #217589;
}

caption {
    font-family: opensans-semibold;
    background-color: #f9f9f9;
    color: #656466;
    font-size: 12px;
    padding-left: 10px;
}

.label {
    color: #FFFFFF;
    border-radius: 10px;
    font-family: opensans-Regular;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;
    padding: 3px 8px;
}

label {
    color: #656466;
    font-size: 11px;
    font-weight: normal;
    margin-bottom: 0;
}

.label-default {
    background: #999999;
}

.label-primary {
    background-color: #EF3D26;
}

.label-success {
    background-color: #417505;
}

.label-warning {
    background-color: #EC8C21;
}

.label-danger {
    background-color: #700A00;
}

.label-info {
    background-color: #4990E2;
}

.xs-txt {
    font-size: 10px !important;
}


/*...............Typography ends........................*/


/*...........Pager and pagination starts...............*/

.pager {
    text-align: inherit;
    margin-top: 0;
    margin-bottom: 10px;
}

.pager li:last-child {
    margin-left: 4px;
}

.pager li > a,
.pager li > span {
    border: none;
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-family: Opensans-Semibold;
}

.pager li>a:hover,
.pager li>a:focus {
    background-color: transparent;
}

.pager li>a.current {
    background-color: #F0503C;
    border-radius: 2px;
    color: white;
    padding: 2px 10px;
}

.pager li>a.btn-border {
    color: #2C4ED4;
}

.pager .text {
    font-size: 12px;
}

.pager .text span {
    background: none;
}

.pager .text .current,
.table_top_number {
    font-family: opensans-semibold;
}

.pager li>a i {
    position: relative;
    top: 1px;
    color: rgba(0, 0, 0, 0.6);
}

nav .pager li a.btn-border {
    line-height: 19px;
    border: 1px solid #ddd;
}

nav .pager li.next a.btn-border span {
    top: 2px;
    position: relative;
}

/*...........Pager and pagination ends...............*/

/*............Tab starts...........*/

.nav-tabs {
    margin-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
}

.nav-tabs>li>a:hover {
    background: transparent;
    border: none;
    color: rgba(0, 0, 0, 0.87) !important;
}

.nav-tabs>li:not(:first-child) {
    margin-left: -1px;
}

.nav-tabs>li.active>a {
    color: #414042;
    font-family: OpenSans-Bold;
    color: #F0503C !important;
    border-bottom: 4px solid #F0503C !important;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    background-color: transparent;
    border: none;
}

.nav-tabs>li>a {
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);
    margin-right: 0px;
    text-transform: capitalize;
    border: none;
    border-bottom: 4px solid transparent !important;
    padding: 10px 30px !important;
}

.tab-content>.tab-pane {
    padding: 20px;
}

.panel-body .nav-tabs {
    margin-left: -5px;
    margin-right: -5px;
    border-bottom: 1px solid #DBDBDB;
    padding-left: 0;
}

/*............Tab ends...........*/

.alert .alert-link {
    color: #2C4ED4 !important;
    font-family: opensans-semibold;
    font-weight: normal;
}

.small_box a.carousel-control i {
    margin-top: -22px !important;
}

.small_box a.carousel-control i {
    width: 24px !important;
    height: 41px !important;
    font-size: 19px !important;
    padding: 9px 0px 0px 0px !important;
}

.border_right {
    border-right: 1px solid #DBDBDB;
}

.border_left {
    border-left: 1px solid #DBDBDB;
}

.content-area-footer .btn-group>.btn,
.btn-group-vertical>.btn {
    float: inherit;
    display: inline-block;
}


.popover_content .row {
    background: #eee;
}

.popover_content dl {
    padding-top: 6px;
}

.new_popover {
    display: none;
}

.new_popover:first-child {
    background-color: #f5f5f5 !important;
}

.bg_light_gray {
    background-color: #f5f5f5;
}

.popover_container .popover-content {
    padding: 0 !important;
}

.popover_container .popover-content dl {
    padding: 6px 9px 5px 6px;
}

.content-area-footer a {
    text-decoration: none;
}

.content-area-footer .btn-group {
    text-align: center;
}


/*...............Table Starts....................*/

.table_custom_1 {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.table_custom_1 td {
    display: block;
}

.table_custom_1 th,
.table_custom_1 td {
    display: table-cell;
    text-align: left;
}

.custom_table {
    width: 100%;
}

.table_custom_1 thead tr th,
.custom_table tr th {
    border-bottom: 2px solid #BFBFBF;
    color: rgba(0, 0, 0, 0.6);
    font-family: Opensans-Semibold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-size: 12px;
    padding: 20px 5px;
    background-color: #FAFAFA;
}

.table_custom_1 tbody tr:not(.hiddenRow) td {
    border-bottom: 1px solid #E5E5E5;
    color: #414042;
    font-family: opensans-regular;
    font-size: 13px;
    padding: 15px 5px;
    vertical-align: top;
}

.table_custom_1 tbody tr.collapsed-row td {
    font-family: OpenSans-Semibold;
}

.table_custom_1 tbody tr.collapsed-row + .hiddenRow> td {
    border-bottom: 1px solid #DBDBDB;
}

.table-hover > tbody > tr.hiddenRow:hover {
    background-color: #f5f5f5;
}

.table_accordion .table_custom_1 tbody tr td {
    border: none;
}

.table_custom_1 tr.accordion-toggle {
    cursor: pointer;
}

.table_custom_1 tbody tr:not(.hiddenRow) td:first-child {
    padding-left: 15px;
}

#collapse_table th:first-child,
#collapse_table tr:not(.accordion-toggle) td:first-child {
    padding-left: 45px;
}

tr.accordion-toggle.collapsed-row td {
    border: none !important;
    background-color: #f5f5f5;
}

.accordion-body table td {
    padding-left: 0;
}

tr.accordion-toggle .icon-pright::before,
tr.accordion-toggle .icon-pdown::before {
    font-family: 'FontAwesome';
    content: "\f107";
    font-size: 24px;
}

tr.accordion-toggle.collapsed-row .icon-pright {
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    transform: rotate(-180deg);
    position: relative;
    top: -1px !important;
}

.table_accordion .table_custom_1 tbody td {
    border: none;
    padding-left: 0px !important;
}

.table_custom_1 tbody tr td.table_secondary_text {
    font-size: 10px;
    color: #999999;
}

.table_custom_1 tr td:first-child {
    padding-left: 15px;
}

.table_custom_1 tr td:last-child,
.table_custom_1 tr th:last-child {
    padding-right: 15px;
}

.table_custom_1 tr.selected td {
    background: #FAFAFA;
}

.table_custom_1 .btn {
    display: inline-block;
}

.table_custom_1 .table_icon i {
    color: #878787;
    font-size: 14px;
    position: relative;
    top: 3px;
}

.table_custom_1 .table_icon:hover,
.table_custom_1 .table_icon .table_icon:focus {
    text-decoration: none;
}

.table_custom_1 .badge {
    margin-top: -3px;
    margin-left: 4px;
}

.table_custom_1 thead tr th input {
    font-size: 12px;
}

.table_custom_1 .table_custom_1 {
    border: medium none;
}

.table_custom_1 tbody tr td i.indicator {
    margin-right: 14px;
    font-size: 8px;
    position: relative;
    color: rgba(0, 0, 0, 0.6);
    top: 2px;
    line-height: 12px;
    top: 3px;
    line-height: 12px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.table_custom_1 a {
    font-size: 13px;
}

.table-hover > tbody > tr:not(.hiddenRow):hover {
    background-color: #F5F5F5;
}

.table_accordion h4 {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 0;
    margin: 30px 0px 10px 0px;
}

.bg_white_smoke {
    background-color: #F5F5F5;
}

.table_accordion {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    padding: 0px 15px 0px 45px;
}

.table_accordion .table_custom_1 thead tr th {
    background-color: inherit;
    border-bottom: 1px solid #BFBFBF;
    border-top: none;
    padding-left: 0 !important;
}

.table_custom_1 i {
    color: rgba(0, 0, 0, 0.87);
}

.table_custom_1 tr td h5 span.label {
    font-size: 90%;
    margin-left: 4px;
    text-transform: uppercase;
}

.version_table .btn i{
    margin-right: 0;
}

.version_table th:nth-child(4n),.version_table td:nth-child(4n){
    text-align: center;
}

.selected_row {
    background-color: #fdecea !important;
}

/*...............Table Ends....................*/


/*.............Sidebar Starts............*/

.sidebar-wrapper {
    width: 200px;
    position: fixed;
}

#sidebar-wrapper {
    background: #F1F3F4;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    width: 200px;
    z-index: 900;
    min-height: 100%;
    overflow-y: auto;
    padding-left: 5px;
}

#sidebar-wrapper .panel {
    margin-bottom: auto;
    background-color: #fff;
    border: 1px solid #DEDEDE;
    border-radius: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.sidebar-nav {
    padding-top: 40px;
    width: 100%;
}

.sidebar-nav li a {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
    text-decoration: none;
    display: block;
    padding: 7px;
}

.sidebar-nav li a i:first-child {
    float: left;
    font-size: 20px;
    margin-right: 10px;
    position: relative;
    top: -1px;
    color: rgba(0, 0, 0, 0.35);
}

.sidebar-nav li.active a i:first-child {
    color: #F0503C;
}

.sidebar-nav li.parent_menu.active {
    border: 1px solid red;
    border: 1px solid #DBDBDB !important;
    border-radius: 3px !important;
    background: white;
}

.sidebar-nav li.parent_menu.active a i:first-child {
    color: rgba(0, 0, 0, 0.35);
}

.sidebar-nav li ul li>a {
    background: #d6d6d6;
}

.sidebar-nav li a[aria-expanded=true],
.sidebar-nav li.active>a {
    color: #F0503C;
    font-family: Opensans-Semibold;
}

.sidebar-nav li a[aria-expanded=true],
.sidebar-nav li.active>a:active,
.sidebar-nav li a[aria-expanded=true] + ul>li>a {
    background-color: #FFFFFF !important;
}

.sidebar-nav li a[aria-expanded=true] i.icon-pright {
    transform: rotate(90deg);
    color: rgba(0, 0, 0, 0.6);
}

.sidebar-nav li.open a {
    background: #d6d6d6;
}

.sidebar-nav li ul {
    margin: 0;
    padding: 0;
}

.sidebar-nav li ul li {
    list-style: none;
}

.sidebar-nav li ul li a {
    padding: 11px 10px 12px 39px;
}

.sidebar-nav li.active ul li.active a {
    background: #ffffff;
    font-family: OpenSans-Semibold;
}

.sidebar-nav li a i.icon-pright {
    font-size: 8px;
    height: 8px;
    position: absolute;
    right: 10px;
    top: 21px;
    -webkit-transition: all 0.218s ease 0s;
    -moz-transition: all 0.218s ease 0s;
    -o-transition: all 0.218s ease 0s;
    transition: all 0.218s ease 0s;
    vertical-align: middle;
    width: 7px;
    color: #bababa;
}

.parent_menu {
    margin-bottom: 0;
    box-shadow: none;
    background-color: transparent !important;
    border: 0 !important;
}

a.parent_menu_a {
    background-color: transparent !important;
    color: rgba(0, 0, 0, 0.6) !important;
}

a.parent_menu_a:hover {
    text-decoration: none;
    background-color: #eee !important;
}

#sidebar-wrapper li.active>a:hover {
    text-decoration: none;
}

#sidebar-wrapper .parent_menu:hover {
    background: #e6e6e6 !important;
    text-decoration: none !important;
}

#sidebar-wrapper .parent_menu.active>a {
    background: #e6e6e6;
    color: #414042;
    font-family: OpenSans-Regular;
}

#sidebar-wrapper ul .active {
    color: #e2e2e2;
}

#sidebar-wrapper ul .active:active {
    color: #e2e2e2;
}

.sidebar-wrapper {
    z-index: 90;
}

#sidebar-wrapper.collapsed {
    left: -200px;
    -webkit-transition: left 0.3s, -webkit-transform 2s;
    -moz-transition: left 0.3s, -moz-transform 2s;
    -o-transition: left 0.3s, -o-transform 2s;
    transition: left 0.3s, transform 2s;
}

/*.............Sidebar Ends............*/


.disabled_selectpicker .btn.disabled,
.disabled_selectpicker .btn[disabled] {
    background: #ffffff !important;
    color: #cfcfcf !important;
}


/*.......Toggle Switch Starts........*/

.switch {
    -moz-user-select: none;
}

.switch label {
    cursor: pointer;
}

.switch label input[type="checkbox"] {
    height: 0;
    opacity: 0;
    width: 0;
}

.switch label input[type="checkbox"]:not(:checked),
.switch label input[type="checkbox"]:checked {
    left: -9999px;
    opacity: 0;
    position: absolute;
}

.switch label input[type="checkbox"]:checked+.lever::after {
    background-color: #F0503C !important;
    left: 18px;
}

.switch label input[type="checkbox"]:disabled+.lever::after {
    background-color: #E6E6E6;
}

.switch label .lever::after {
    background-color: #F1F1F1;
    border-radius: 21px;
    content: "";
    display: inline-block;
    height: 20px;
    left: -3px;
    position: absolute;
    top: -3px;
    -webkit-transition: left 0.3s ease 0s, background 0.3s ease 0s, box-shadow 0.1s ease 0s;
    -moz-transition: left 0.3s ease 0s, background 0.3s ease 0s, box-shadow 0.1s ease 0s;
    -o-transition: left 0.3s ease 0s, background 0.3s ease 0s, box-shadow 0.1s ease 0s;
    transition: left 0.3s ease 0s, background 0.3s ease 0s, box-shadow 0.1s ease 0s;
    width: 20px;
    box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.24);
}

.switch label input[type="checkbox"]:checked+.lever {
    background-color: rgba(240, 80, 60, 0.35);
}

.switch label .lever {
    background-color: rgba(34, 31, 31, 0.35);
    border-radius: 15px;
    content: "";
    display: inline-block;
    height: 14px;
    margin: 0 16px;
    position: relative;
    -webkit-transition: background 0.3s ease 0s;
    -moz-transition: background 0.3s ease 0s;
    -o-transition: background 0.3s ease 0s;
    transition: background 0.3s ease 0s;
    vertical-align: middle;
    width: 34px;
}


/*.......Toggle Switch Ends........*/

.checkbox.disabled label,
.switch label input[type="checkbox"][disabled]+span.lever+span {
    color: #C9C9C9;
}

.nav>ul .active:hover,
.nav>ul .active:focus {
    background: #217589;
    color: #e2e2e2;
}

.margin_left_minus_15 {
    margin-left: -15px;
}


/*.........card starts............*/
.card_1 {
    -webkit-box-shadow: 0 0 1px 1px #BDBDBD;
    box-shadow: 0 0 1px 1px #BDBDBD;
    background-color: #FAFAFA;
    margin-bottom: 15px;
}

.card_1 h4.card_title {
    background-color: #F5F5F5;
    padding: 8px 12px;
    margin: 0;
}

.card_1 p.card-text {
    padding: 11px 12px;
}

/*.........card ends............*/


/*..........Accordion starts...........*/

.custom_accordion .panel div[aria-expanded=true] i.icon-pright {
    transform: rotate(90deg);
    color: #414042;
}

.custom_accordion div[aria-expanded=true] h4.panel-title {
    color: #414042;
}

.custom_accordion .panel-default>.panel-heading .panel-title::before {
    content: "\f106";
    font-family: FontAwesome;
    font-size: 24px;
    left: 26px;
    position: absolute;
    top: 12px;
    z-index: 10;
}

.custom_accordion .panel-default>.panel-heading.collapsed .panel-title::before {
    content: "\f107";
}

.custom_accordion .panel-heading {
    color: #656466;
    cursor: pointer;
    padding-left: 60px;
    position: relative;
}

.custom_accordion .panel i.icon-pright {
    font-size: 10px;
    height: 8px;
    -webkit-transition: all 0.218s ease 0s;
    -moz-transition: all 0.218s ease 0s;
    -o-transition: all 0.218s ease 0s;
    transition: all 0.218s ease 0s;
    vertical-align: middle;
    width: 7px;
    color: #656466;
    margin-right: 5px;
    top: 2px;
    position: relative;
    float: left;
}

.custom_accordion .panel {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.custom_accordion .panel-group .panel-heading+.panel-collapse>.panel-body,
.panel-group .panel-heading+.panel-collapse>.list-group {
    border-top: none;
}
/*..........Accordion ends...........*/


/*...........Panel starts..............*/
.panel-body label {
    display: block;
}

.panel-body .custom_margin .page_title {
    background: none !important;
}

.panel-body .custom_ul_margin {
    margin-left: -22px;
}

.panel {
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-group .panel {
    margin-bottom: 0;
    border-radius: 0px;
}

.panel-heading {
    font-size: 18px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: table;
    height: 50px;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
}

.panel-default>.panel-heading {
    background-color: #ffffff;
    border-color: #E5E5E5;
}

.panel-body {
    color: rgba(0, 0, 0, 0.87);
    line-height: 24px;
    padding: 20px;
}

.panel-footer {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    padding: 8px 12px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
}

.panel-title {
    color: rgba(0, 0, 0, 0.87);
    display: table-cell;
    font-family: OpenSans-SemiBold;
    font-size: 18px;
    padding: 0 !important;
    margin: 0;
    vertical-align: middle;
}

.panel-title:hover,
.panel-title:active,
.panel-title:focus {
    color: rgba(0, 0, 0, 0.87);
}

.panel-heading .action-btn {
    display: table-cell;
    text-align: right;
    vertical-align: middle;
}

.panelaccordion .panel-default>.panel-heading {
    padding-left: 60px;
    position: relative;
}

.panelaccordion .panel-default>.panel-heading .panel-title::before {
    content: "\f106";
    font-family: FontAwesome;
    font-size: 24px;
    line-height: 1;
    left: 26px;
    position: absolute;
    top: 50%;
    z-index: 10;
    margin-top: -13px;
    display: inline-block;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    -webkit-transform-origin: 50% 50%;
    ;
    -moz-transform-origin: 50% 50%;
    ;
    -ms-transform-origin: 50% 50%;
    ;
    -o-transform-origin: 50% 50%;
    ;
    transform-origin: 50% 50%;
    ;
}

.panelaccordion .panel-default>.panel-heading .panel-title.collapsed::before {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    transform: rotate(180deg);
    top: 55%;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
    color: #414042;
    font-family: OpenSans-Regular;
}

.panel>.list-group .list-group-item,
.panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
    font-size: 12px;
}
/*...........Panel ends..............*/



/*...............List starts..............*/

ul,
ol {
    margin-top: 0;
    margin-bottom: 10px;
}

ul.inline {
    padding-left: 0;
}

ul.inline>li {
    display: inline-block;
    padding-right: 30px;
}

ul.custom_list li ul li {
    list-style: circle !important;
}

.well.well_detail_list {
    padding: 15px 12px;
}

.well_detail_list ul {
    padding: 0px;
    margin: 0px;
}

.well_detail_list span {
    line-height: 47px;
}

.well_detail_list .list_title {
    border-right: 1px solid #CFCFCF;
    float: left;
    padding-right: 15px;
}

.well_detail_list dl {
    margin-bottom: 0px;
}

.well_detail_list dl dt {
    font-size: 20px;
    color: #656466;
    font-family: opensans-Regular;
}

.well_detail_list dl dd {
    font-size: 12px;
    color: #999999;
    font-family: opensans-Semibold;
}

.well_detail_list hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #CFCFCF;
    clear: left;
}

/*...............List ends..............*/


/*...........Breadcrumb starts...........*/
.breadcrumb {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-radius: 0;
    padding: 5px 15px;
    line-height: 17px;
    margin-bottom: 0;
    font-size: 10px;
}

.breadcrumb li,
.breadcrumb li a {
    font-size: 12px;
    font-family: OpenSans-Regular;
    color: rgba(0,0,0,0.35);
}

.breadcrumb li:not(.active) a:hover{
    text-decoration: underline;
}

.breadcrumb li.active a {
    color: #217589;
    font-size: 10px;
}

.breadcrumb>li+li::before {
    font-family: 'icomoon' !important;
    content: "\e90d";
}

.breadcrumb>.active {
    color: rgba(0, 0, 0, 0.60);
}

.breadcrumb>li+li:before {
    color: rgba(0, 0, 0, 0.35);
}

section .row .breadcrumb {
    background-color: #fff !important;
}
/*...........Breadcrumb ends...........*/

/*............Tooltip starts..........*/
*[data-toggle="tooltip"]{
    cursor: default;
}

.tooltip_margin p {
    /* margin: 34px; */
    margin-right: 34px;
}

.tooltip.in {
    opacity: 1;
}

.tooltip-inner {
    background-color: #666666;
}

.tooltip.top .tooltip-arrow,
.tooltip.top-left .tooltip-arrow,
.tooltip.top-right .tooltip-arrow {
    border-top-color: #666666;
}

.tooltip.right .tooltip-arrow {
    border-right-color: #666666;
}

.tooltip.left .tooltip-arrow {
    border-left-color: #666666;
}

.tooltip.bottom .tooltip-arrow,
.tooltip.bottom-left .tooltip-arrow,
.tooltip.bottom-right .tooltip-arrow {
    border-bottom-color: #666666;
}

/*............Tooltip ends..........*/

/*..........Description list starts........*/
dl {
    margin-top: 0;
    margin-bottom: 12px;
}

dt {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px;
    font-family: OpenSans-Semibold;
}

dd {
    line-height: 19px;
}

dl.inline {
    display: table;
}

dl.inline>* {
    display: table-cell;
}

dl.inline dt {
    padding-right: 10px;
}

/*..........Description list ends........*/

/*.....Sliders and progress bar start....*/

.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: 12px;
    color: #ffffff;
    background-color: #F0503C;
}

.progress-bar-striped{
    background-image:-webkit-linear-gradient(33deg, #C84231 20%, transparent 20%, transparent 40%, #C84231 40%, #C84231 60%, transparent 60%, transparent 80%, #C84231 80%, #C84231);
    background-image:-moz-linear-gradient(33deg, #C84231 20%, transparent 20%, transparent 40%, #C84231 40%, #C84231 60%, transparent 60%, transparent 80%, #C84231 80%, #C84231);
    background-image:-o-gradient(33deg, #C84231 20%, transparent 20%, transparent 40%, #C84231 40%, #C84231 60%, transparent 60%, transparent 80%, #C84231 80%, #C84231);
    background-image:linear-gradient(33deg, #C84231 20%, transparent 20%, transparent 40%, #C84231 40%, #C84231 60%, transparent 60%, transparent 80%, #C84231 80%, #C84231);
    background-size: 30px 30px;
}
.progress {
    height: 10px;
    border-radius: 2px;
    box-shadow: none;
    background-color: #DBDBDB;
    margin-bottom: 0;
}

.progress-bar span{
    position: absolute;
    top: -23px;
    color: rgba(0,0,0,0.87);
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: OpenSans-Semibold;
    font-size: 16px;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #DBDBDB;
  border-radius: 1.3px;
}
input[type=range]::-webkit-slider-thumb {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background: #F0503C;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #DBDBDB;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: #DBDBDB;
  border-radius: 1.3px;
}
input[type=range]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #F0503C;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #F0503C;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

input[type=range]:focus::-webkit-slider-thumb  {
  width: 15px;
  height: 15px;
  margin-top:-6px;
}

.fill{
    background-color: #F0503C;
    height: 3px;
    position: absolute;
    left: 0;
    top: 0;
}

.slider{
    position: relative;
}

.slider .marker{
    position: absolute;
    height: 37px;
    width: 30px;
    border-radius: 50% 50% 0 0;
    color: white;
    background-size: 100% 100%;
    text-align: center;
    padding-top: 4px;
    font-family: OpenSans-Semibold;
    font-size: 12px;
    left: 0;
    top: -43px;
    display: none;
    margin-left: -15px;
}

.slider .marker.active{
    display: block;
}

.slider.disabled{
    opacity: 0.2;
    pointer-events: none;

}

/*.....Slider and progress bar ends.....*/

/*.......Alert starts.......*/
.alert {
    border-radius: 0;
    font-size: 12px;
    color: #414042;
    padding: 6px 15px;
    font-family: OpenSans-Semibold;
    display: inline-block;
    position: fixed;
    top: -40px;
    border-radius: 4px;
    margin: 10px auto;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    transition: all 0.5s;
}

.alert.in {
    top: 40px;
}

.alert button.close {
    position: relative;
    top: 2px;
    margin: 0px 0px 0px 10px;
}

.alert-success {
    background-color: #DBEAD7;
}

.alert-info {
    background-color: #DCEAF7;
}

.alert-warning {
    background-color: #F9DAB8;
}

.alert-danger {
    background-color: #F6CDCD;
}

.alert strong {
    font-family: opensans-Bold;
}
/*.......Alert ends.......*/

/*...........Checkbox and radio starts.......*/
label.radio,
label.radio-inline,
.cus_radio {
    font-size: 12px;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 2px 0 0;
    position: absolute;
    left: -9999px;
}

.radio label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border: 2px solid #666666;
    border-radius: 50%;
    margin-right: 10px;
}

.radio label.checked:before {
    border: 6px solid #F0503C;
}

.radio label.checked,
.switch span.checked {
    font-family: OpenSans-Semibold;
}

.checkbox label:before,
.checkbox-label:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    border: 2px solid #666666;
    border-radius: 2px;
    margin-right: 10px;
    margin-top: -2px;
    background-color: white;
    background-size: 100%;
}

.checkbox label.checked:before,
.checkbox-label.checked:before,
.selected_row label:before {
    border: none;
}

.checkbox label.checked:after,
.checkbox-label.checked:after,
.selected_row label:after {
    border: none;
}

.checkbox label.checked {
    font-family: OpenSans-Semibold;
}

.checkbox.disabled,
.switch.disabled {
    opacity: 0.4;
    cursor: not-allowed;
}

.checkbox.disabled label {
    font-family: Opensans-Regular;
}



.radio-labels:before,
.radio-labels:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
    z-index: 0;
    -webkit-transition: .28s ease;
    -moz-transition: .28s ease;
    -o-transition: .28s ease;
    transition: .28s ease;
    border-radius: 50%;
}

[type="radio"]:not(:checked)+label:before,
[type="radio"]:not(:checked)+label:after {
    border: 2px solid #5a5a5a;
}

[type="radio"]:checked+label:before {
    border: 2px solid transparent;
}

[type="radio"]:checked+label:after {
    background-color: #26a69a;
}

.radio.disabled {
    opacity: 0.14;
}

.checkbox-label {
    cursor: pointer;
}


.switch label,
.checkbox label,
.radio label {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87);
    padding-left: 0px;
}

.radio,
.checkbox {
    margin-top: 0px;
    padding-left: 0px;
    margin-bottom: 13px;
    margin-right: 50px;
}

.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
    margin-left: 0;
}
/*...........Checkbox and radio ends.......*/

/*.........Badges starts............*/

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    color: #FFFFFF;
    background-color: #217589;
    font-family: opensans-Regular;
    font-size: 12px;
    /* padding: 6px 12px; */
}

.nav-pills>li>a {
    border-radius: 2px;
}

.nav>li>a {
    position: relative;
    display: block;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    padding: 15px 8px 15px 10px;
}

.badge {
    border-radius: 2px;
    background-color: #217589;
    font-size: 10px;
    vertical-align: middle;
    font-family: OpenSans-semibold;
    text-transform: uppercase;
}

.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #217589;
    background-color: #fff;
}

.nav-pills>li>a {
    color: #414042;
    font-family: opensans-Regular;
    font-size: 12px;
    padding: 6px 12px;
}

/*.........Badges ends.........*/

/*.........Popover starts.......*/

.popover {
    max-width: 400px !important;
    padding: 0 0px 13px;
}

.popover-title {
    padding: 8px 14px;
    margin: 0px;
    font-size: 12px;
    background-color: #F5F5F5;
    border-bottom: 0px;
    border-radius: 5px 5px 0 0;
}

.popover-content {
    padding: 6px 12px;
    color: #414042;
}

/*.........Popover ends.......*/

/*.......Grid starts.......*/

.grid {
    border: 1px solid #E5E5E5;
    min-height: 345px;
    background-color: #E5E5E5;
    margin-bottom: 50px;
}

.grid-heading {
    font-size: 18px;
    font-family: OpenSans-Semibold;
    color: rgba(0, 0, 0, 0.87);
    padding: 10px 20px;
    height: 72px;
    background-color: #F2F2F2;
    display: table;
    width:100%;
}

.grid-heading>span{
    display: table-cell;
    vertical-align: middle;
}
.grid-body {
    padding: 20px;
    color: rgba(0, 0, 0, 0.87);
    position: relative;
}

.grid-heading small {
    font-size: 14px;
}

.grid-body>img {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.grid.four {
    width: calc((100% - 30px)/4);
    float: left;
    margin: 0px 10px 10px 0px;
    min-height: 270px;
}

.grid.four:nth-child(4n),
.grid.three:nth-child(3n) {
    margin-right: 0;
}

.grid.three {
    width: calc((100% - 20px)/3);
    float: left;
    margin: 0px 10px 10px 0px;
}
/*.......Grid starts.......*/

/*................Modal Starts.....*/

.modal-dialog{
    height: 100%;
}

.modal-content {
    -webkit-box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0px 8px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    outline: 0;
    background-clip: inherit;
    border: none;
    color: rgba(0, 0, 0, 0.87);
    overflow: hidden;
    position: relative;
    top: 40%;
    transform: translate(0,-50%);
}

.modal-title {
    font-size: 18px;
    font-family: Opensans-Semibold;
    color: rgba(0, 0, 0, 0.87);
}

.modal-body {
    padding: 20px;
    padding-top: 0;
    max-height: 60vh;
    overflow: auto;
}

.modal-footer {
    padding: 15px;
    background-color: #FFFFFF;
    border-top: 1px solid #EBEBEB;
}

.modal-header {
    border: none;
    padding: 18px 20px !important;
}

.modal-header .close {
    color: rgba(0, 0, 0, 0.87);
    opacity: 1;
}

.modal.fade.in {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
}

.modal-footer .btn {
    margin-bottom: 0;
    margin-left: 5px;
}


/*................Modal Ends.....*/

.table-striped>tbody>tr:nth-of-type(even) {
    background-color: #f9f9f9;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #FFFFFF;
}


/*.......Steppers......*/

ul.stepper {
    counter-reset: section;
    overflow-y: auto;
    overflow-x: hidden;
    list-style-type: none;
}

ul.stepper>li:not(:last-of-type) {
    margin-bottom: 10px;
    -webkit-transition: margin-bottom .4s;
    transition: margin-bottom .4s;
}

ul.stepper .step {
    position: relative;
}

ul.stepper .step-title {
    margin: 0 -24px;
    cursor: pointer;
    padding: 15.5px 44px 24px 64px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
}

ul.stepper .step.active .step-title {
    font-family: OpenSans-Semibold;
    color: rgba(0, 0, 0, 0.6);
}

ul.stepper .step-content {
    position: relative;
    height: calc(100% - 132px);
    width: inherit;
    overflow: visible;
    margin-left: 41px;
    margin-right: 24px;
    overflow: hidden;
    max-height: 0;
    transition: all 0.5s;
}

ul.stepper .step:not(:last-of-type).active {
    margin-bottom: 36px;
}

ul.stepper .step-actions {
    padding-top: 16px;
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: start;
    -webkit-box-pack: start;
    justify-content: flex-start;
}

ul.stepper.linear .step:before {
    position: absolute;
    top: 12px;
    counter-increment: section;
    content: counter(section);
    height: 28px;
    width: 28px;
    color: rgba(0, 0, 0, 0.60);
    background-color: #ffffff;
    border: 1px solid #a6a6a6;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
}

ul.stepper .step.active:before{
    color: #F0503C;
    border-color:#F0503C;
    font-family: OpenSans-Semibold;
}

ul.stepper:not(.horizontal) .step.done:before, ul.stepper.horizontal .step.done .step-title:before{
    background-color:#F0503C;
    color: white;
    content:"\e013";
    font-family: 'Glyphicons Halflings';
    border:none;
}

ul.stepper>.step:not(:last-of-type):after {
    content: '';
    position: absolute;
    top: 50px;
    left: 13.5px;
    width: 1px;
    height: 40%;
    height: calc(100% - 38px);
    background-color: rgba(0, 0, 0, .1);
    -webkit-transition: all .4s;
    transition: all .4s;
}

ul.stepper>.step.active:not(:last-child):after {
    height: 93%;
    height: calc(100% - 12px);
}

.step.active .step-content {
    max-height: 200px;
    overflow: visible;
}

ul.stepper.horizontal {
    position: relative;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    min-height: 458px;
}

ul.stepper.horizontal .step {
    position: static;
    margin: 0;
    width: 100%;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -webkit-box-align: center;
    align-items: center;
    height: 84px!important;
}

ul.stepper.horizontal .step-title {
    position: relative;
    line-height: 84px;
    height: 84px;
    margin: 0;
    padding: 0px 25px 0 60px;
    display: inline-block;
    max-width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}

ul.stepper.horizontal .step-content {
    position: absolute;
    height: calc(100% - 84px);
    top: 84px;
    left: 0;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 20px 20px 76px;
    opacity: 0;
}

ul.stepper.horizontal .step.active .step-content {
    opacity: 1;
}

ul.stepper.horizontal:before {
    content: '';
    background-color: transparent;
    width: 100%;
    min-height: 84px;
    position: absolute;
    left: 0;
}

ul.stepper.horizontal .step:not(:last-of-type):after,
ul.stepper.horizontal>.step.active:not(:last-of-type):after {
    content: '';
    position: static;
    display: inline-block;
    width: 100%;
    height: 1px;
}

ul.stepper.horizontal .step .step-title:before {
    position: absolute;
    top: 28.5px;
    left: 19px;
    counter-increment: section;
    content: counter(section);
    height: 28px;
    width: 28px;
    color: rgba(0, 0, 0, 0.35);
    background-color: #ffffff;
    border: 1px solid #A6A6A6;
    border-radius: 50%;
    text-align: center;
    line-height: 28px;
    font-weight: 400;
}

ul.stepper.horizontal .step.active .step-title:before {
    color: #F0503C;
    border-color: #F0503C;
    font-family: OpenSans-Semibold;
}

/*.....Chips start......*/

.chips {
    display: inline-block;
    border: 1px solid #F0503C;
    border-radius: 20px;
    padding: 0px 29px 0px 9px;
    position: relative;
    color: #F0503C;
    font-family: OpenSans-Semibold;
    font-size: 11px;
    margin-right: 5px;
    line-height: 1.7;
}

.chips .icon-cross {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 3px;
    top: -2px;
    cursor: pointer;
}

.chips .icon-cross:before,
.chips .icon-cross:after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #F0503C;
    position: absolute;
    left: 5px;
    top: 6px;
    -webkit-transform: translate(5px) rotate(45deg);
    -moz-transform: translate(5px) rotate(45deg);
    -o-transform: translate(5px) rotate(45deg);
    transform: translate(5px) rotate(45deg);
}

.chips .icon-cross:after {
    -webkit-transform: translate(5px) rotate(-45deg);
    -moz-transform: translate(5px) rotate(-45deg);
    -o-transform: translate(5px) rotate(-45deg);
    transform: translate(5px) rotate(-45deg);
}

/*......Chip ends.......*/


/*.....................Media Queries..........*/

@media (min-width: 480px) {
    .table_custom_1 td:before {
        display: none;
    }
    .table_custom_1 th:first-child,
    .table_custom_1 td:first-child {
        padding-left: 15px;
    }
    .table_custom_1 th:last-child,
    .table_custom_1 td:last-child {
        padding-right: 0;
    }
}

@media (max-width:600px) {
    .content-area-footer {
        padding: 5px 10px;
    }
    .nav-tabs {
        padding-left: 2px;
        padding-right: 2px;
    }

    .table_custom_1 tr,
    .table_custom_1 td {
        display: block;
    }
    .table_custom_1 tbody tr td:first-child {
        color: #217589;
        font-size: 16px;
    }
    .table_custom_1 thead {
        display: none;
    }
    .checkbox_table thead {
        display: block !important;
    }
    .table_custom_1 input[type='text'] {
        width: 100%;
    }
    .col-1 {
        width: 10%;
    }
    .col-2 {
        width: 20%;
    }
    .col-3 {
        width: 30%;
    }
    .col-4 {
        width: 40%;
    }
    .col-5 {
        width: 50%;
    }
    .col-6 {
        width: 60%;
    }
    .col-7 {
        width: 70%;
    }
    .col-8 {
        width: 80%;
    }
    .col-9 {
        width: 90%;
    }
    .col-10 {
        width: 100%;
    }
    body {
        background-color: #f8f8f8;
        height: auto;
        min-height: 100%;
    }
    * {
        font-size: 100%;
    }
    .nav-tabs-responsive>li {
        display: none;
        width: 23%;
    }
    .nav-tabs-responsive>li>a {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        word-wrap: normal;
        width: 100%;
        text-align: center;
        vertical-align: top;
        padding: 6px 15px !important;
    }
    .nav-tabs-responsive>li.active {
        width: 54%;
    }
    .nav-tabs-responsive>li.active:first-child {
        margin-left: 23%;
    }
    .nav-tabs-responsive>li.active,
    .nav-tabs-responsive>li.prev,
    .nav-tabs-responsive>li.next {
        display: block;
    }
    .nav-tabs-responsive>li.prev,
    .nav-tabs-responsive>li.next {
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -o-transform: scale(0.9);
        transform: scale(0.9);
    }
    .nav-tabs-responsive>li.next>a,
    .nav-tabs-responsive>li.prev>a {
        -webkit-transition: none;
        -moz-transition: none;
        -o-transition: none;
        transition: none;
    }
    .nav-tabs-responsive>li.next>a .text,
    .nav-tabs-responsive>li.prev>a .text {
        display: none;
    }
    .nav-tabs-responsive>li.next>a:after,
    .nav-tabs-responsive>li.next>a:after,
    .nav-tabs-responsive>li.prev>a:after,
    .nav-tabs-responsive>li.prev>a:after {
        position: relative;
        top: 1px;
        display: inline-block;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: 400;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    .nav-tabs-responsive>li.prev>a:after {
        content: "\e079";
    }
    .nav-tabs-responsive>li.next>a:after {
        content: "\e080";
    }
    .nav-tabs-responsive>li.dropdown>a>.caret {
        display: none;
    }
    .nav-tabs-responsive>li.dropdown>a:after {
        content: "\e114";
    }
    .nav-tabs-responsive>li.dropdown.active>a:after {
        display: none;
    }
    .nav-tabs-responsive>li.dropdown.active>a>.caret {
        display: inline-block;
    }
    .nav-tabs-responsive>li.dropdown .dropdown-menu.pull-xs-left {
        left: 0;
        right: auto;
    }
    .nav-tabs-responsive>li.dropdown .dropdown-menu.pull-xs-center {
        right: auto;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
    }
    .nav-tabs-responsive>li.dropdown .dropdown-menu.pull-xs-right {
        left: auto;
        right: 0;
    }
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-next {
        margin-right: -36%;
    }
    .border_right_hidden,
    .border_left_hidden {
        border: none !important;
    }
    .border_bottom {
        border-left: 1px solid #DBDBDB !important;
    }
    .table_custom_1 input[type="radio"],
    input[type="checkbox"] {
        position: absolute;
    }
}

@media (max-width: 700px) {
    .table_custom_1 th,
    .table_custom_1 td {
        display: inherit;
    }
    .table_custom_1 td:before {
        content: attr(data-th) ": ";
        width: 6.5em;
        display: inline-block;
        color: #b7b7b7;
    }
    .table_custom_1 {
        border: 0px;
    }
    .table_custom_1 tr {
        background-color: #fff;
        border: 1px solid #eee;
        display: block;
        margin-bottom: 15px;
        box-shadow: 0 1px 5px -3px rgb(164, 164, 164);
    }
    .table_custom_1 tr td {
        padding: 4px 10px !important;
    }
    .table_custom_1 tbody tr td:first-child:before {
        padding-left: 0;
        content: '';
        width: 0;
    }
    .table_custom_1 tbody tr td:first-child {
        font-family: OpenSans-Semibold;
        color: #217589;
        font-size: 16px;
    }
    .table_custom_1.checkbox_table thead tr th:first-child {
        display: block;
        padding-left: 15px;
    }
    .table_custom_1.checkbox_table thead tr th,
    .table_custom_1 thead {
        display: none;
    }
    .checkbox_table thead {
        display: block !important;
    }
}

@media (min-width: 768px) {
    .well_detail_list .list div {
        padding-right: 0px;
        padding-left: 0px;
    }
}

@media (max-width: 769px) {
    .alert {
        padding: 6px 10px;
    }
    .content-area-footer {
        padding: 10px 15px;
    }
    .navbar-nav {
        margin: 0;
        float: right;
    }
    .navbar-nav>li {
        float: left;
    }
    .navbar-header {
        float: left;
    }
    .dropdown-menu-right {
        background-color: #fff !important;
        border: 1px solid #D9D9D9 !important;
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176) !important;
        padding: 5px 0 !important;
        position: absolute !important;
    }
    .left-menu-toggle {
        display: block !important;
    }
    #sidebar-wrapper {
        width: 250px;
        left: -250px;
        -webkit-transition: left 0.3s, -webkit-transform 2s;
        -moz-transition: left 0.3s, -moz-transform 2s;
        -o-transition: left 0.3s, -o-transform 2s;
        transition: left 0.3s, transform 2s;
    }
    #sidebar-wrapper.collapsed {
        box-shadow: -5px -5px 18px #575757;
        -webkit-transition: left 0.3s, -webkit-transform 2s;
        -moz-transition: left 0.3s, -moz-transform 2s;
        -o-transition: left 0.3s, -o-transform 2s;
        transition: left 0.3s, transform 2s;
        left: 0;
    }
    .sidebar-nav {
        padding-top: 64px;
    }
    .sidebar-nav li a {
        font-size: 14px;
        padding: 12px 15px;
    }
    .sidebar-nav li a i.icon-pright {
        font-size: 10px;
        top: 17px;
    }
    .sidebar-nav li ul li a {
        padding: 12px 12px 12px 42px;
    }
    .content-wrapper {
        padding-top: 62px;
    }
    .content-area-footer {
        width: 100%;
    }
    .logo {
        width: 46px;
        margin-top: 0px;
    }
    .logo_wrapper .left-menu-toggle,
    .logo_wrapper .left-menu-toggle:hover {
        font-size: 24px;
        padding: 5px 12px;
        top: 5px;
        left: 0;
        margin-right: 0;
    }
    .navbar .navbar-top-links>li>a {
        font-size: 14px;
        padding: 21px 15px;
    }
    .sidebar-nav li a i:first-child {
        font-size: 21px;
    }
    .content-area {
        border-radius: 5px;
        margin-left: 0px;
        padding: 0 !important;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .content-area.full {
        margin-left: 0 !important;
        padding-left: 0;
        padding-right: 0;
        -webkit-transition: all 0.3s ease 0s;
        -moz-transition: all 0.3s ease 0s;
        -o-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }
    .row {
        margin-left: -10px !important;
        margin-right: -10px !important;
    }
    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .col-lg-12 {
        padding-left: 10px;
        padding-right: 10px;
    }
    .row {
        margin-left: -10px;
        margin-right: -10px;
    }
    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }
    .navbar-brand {
        font-size: 0;
    }
    .user_menu {
        float: right;
    }
    .mobile-only {
        visibility: visible;
        display: block;
    }
    .desktop-only {
        visibility: hidden;
        display: none;
    }
    .grey_background.visible {
        background-color: rgba(0, 0, 0, 0.3);
        cursor: pointer;
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 23px;
        height: 42px;
        margin-top: -7px;
        font-size: 17px;
        background-color: #E5E5E5;
        border: medium none;
        border-radius: 1px;
        color: #999;
        padding: 12px 0px 2px;
    }
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .icon-prev {
        margin-left: -26px;
    }
    .box_text_margin_left {
        margin-left: 0px;
    }
    .detail_margin {
        margin-left: -10px;
    }
    .product_detail_txt {
        margin-top: 166px;
    }
    .border_right_hidden,
    .border_left_hidden {
        border: none !important;
    }
    .border_bottom {
        border-left: 1px solid #DBDBDB !important;
    }
    .well_detail_list ul li:nth-child(2) {
        border-left: none;
    }
    .well_detail_list ul li {
        float: left;
        padding-right: 39px !important;
        padding-left: 0;
    }
    .well_detail_list dl {
        margin-bottom: 10px;
    }
    .btn {
        margin: 5px 0px;
    }
}

@media (max-width:991px) {
    .well_detail_list dl {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 1199px) {
    .border_right_hidden,
    .border_left_hidden {
        border: none !important;
    }
    .border_bottom {
        border-left: 1px solid #DBDBDB;
    }
    .well_detail_list ul li+hr+li {
        border-left: 0;
        padding-left: 0;
    }
    .well_detail_list .list_title {
        border-right: 0px;
        float: left;
        padding-right: 0px;
    }
}

@media (min-width: 1200px) {
    .well_detail_list .list_title {
        border-right: 1px solid #CFCFCF;
        float: left;
        padding-right: 15px;
    }
    .well_detail_list .list div {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media print {
    .content-area-footer,
    footer {
        display: none;
    }
    .menu_visible .content-area {
        padding-left: 0 !important;
    }
    #sidebar-wrapper {
        display: none;
    }
    @page {
        margin: 0;
        margin-right: 50px;
        padding-left: 0;
        margin-left: -20%;
        size: 10in 8.5in;
        size: portrait;
    }
    body {
        width: 100% !important;
    }
    .table_custom_1 thead tr th {
        background: #f2f2f2 !important;
        -webkit-print-color-adjust: exact;
    }
    a[href]:after {
        content: none !important;
    }
    .col-xs-6 {
        width: 33.33333333%;
    }
}


/*........margin-padding css starts........*/


/*     css for all margins   */

.m-0-auto {
    margin : 0 auto !important;
}

.m-0 {
    margin: 0px!important;
}

.m-5 {
    margin: 5px!important;
}

.m-10 {
    margin: 10px!important;
}

.m-15 {
    margin: 15px!important;
}

.m-20 {
    margin: 20px!important;
}

.m-25 {
    margin: 25px!important;
}

.m-30 {
    margin: 30px!important;
}

.m-35 {
    margin: 35px!important;
}

.m-40 {
    margin: 40px!important;
}

.m-45 {
    margin: 45px!important;
}

.m-50 {
    margin: 50px!important;
}


/*     css for top margins   */

.m-t-0 {
    margin-top: 0px!important;
}

.m-t-5 {
    margin-top: 5px!important;
}

.m-t-10 {
    margin-top: 10px!important;
}

.m-t-15 {
    margin-top: 15px!important;
}

.m-t-20 {
    margin-top: 20px!important;
}

.m-t-25 {
    margin-top: 25px!important;
}

.m-t-30 {
    margin-top: 30px!important;
}

.m-t-35 {
    margin-top: 35px!important;
}

.m-t-40 {
    margin-top: 40px!important;
}

.m-t-45 {
    margin-top: 45px!important;
}

.m-t-50 {
    margin-top: 50px!important;
}

.m-t-60 {
    margin-top: 60px!important;
}

.m-t-70 {
    margin-top: 70px!important;
}


/*     css for bottom margins   */

.m-b-0 {
    margin-bottom: 0px!important;
}

.m-b-5 {
    margin-bottom: 5px!important;
}

.m-b-10 {
    margin-bottom: 10px!important;
}

.m-b-15 {
    margin-bottom: 15px!important;
}

.m-b-20 {
    margin-bottom: 20px!important;
}

.m-b-25 {
    margin-bottom: 25px!important;
}

.m-b-30 {
    margin-bottom: 30px!important;
}

.m-b-35 {
    margin-bottom: 35px!important;
}

.m-b-40 {
    margin-bottom: 40px!important;
}

.m-b-45 {
    margin-bottom: 45px!important;
}

.m-b-50 {
    margin-bottom: 50px!important;
}

.m-b-100 {
    margin-bottom: 100px!important;
}


/*     css for left margins   */

.m-l-0 {
    margin-left: 0px!important;
}

.m-l-5 {
    margin-left: 5px!important;
}

.m-l-10 {
    margin-left: 10px!important;
}

.m-l-15 {
    margin-left: 15px!important;
}

.m-l-20 {
    margin-left: 20px!important;
}

.m-l-25 {
    margin-left: 25px!important;
}

.m-l-30 {
    margin-left: 30px!important;
}

.m-l-35 {
    margin-left: 35px!important;
}

.m-l-40 {
    margin-left: 40px!important;
}

.m-l-45 {
    margin-left: 45px!important;
}

.m-l-50 {
    margin-left: 50px!important;
}


/*     css for right margins   */

.m-r-0 {
    margin-right: 0px!important;
}

.m-r-5 {
    margin-right: 5px!important;
}

.m-r-10 {
    margin-right: 10px!important;
}

.m-r-15 {
    margin-right: 15px!important;
}

.m-r-20 {
    margin-right: 20px!important;
}

.m-r-25 {
    margin-right: 25px!important;
}

.m-r-30 {
    margin-right: 30px!important;
}

.m-r-35 {
    margin-right: 35px!important;
}

.m-r-40 {
    margin-right: 40px!important;
}

.m-r-45 {
    margin-right: 45px!important;
}

.m-r-50 {
    margin-right: 50px!important;
}


/*     css for top-bottom margins   */

.m-tb-0 {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}

.m-tb-5 {
    margin-top: 5px!important;
    margin-bottom: 5px!important;
}

.m-tb-10 {
    margin-top: 10px!important;
    margin-bottom: 10px!important;
}

.m-tb-15 {
    margin-top: 15px!important;
    margin-bottom: 15px!important;
}

.m-tb-20 {
    margin-top: 20px!important;
    margin-bottom: 20px!important;
}

.m-tb-25 {
    margin-top: 25px!important;
    margin-bottom: 25px!important;
}

.m-tb-30 {
    margin-top: 30px!important;
    margin-bottom: 30px!important;
}

.m-tb-35 {
    margin-top: 35px!important;
    margin-bottom: 35px!important;
}

.m-tb-40 {
    margin-top: 40px!important;
    margin-bottom: 40px!important;
}

.m-tb-45 {
    margin-top: 45px!important;
    margin-bottom: 45px!important;
}

.m-tb-50 {
    margin-top: 50px!important;
    margin-bottom: 50px!important;
}

.m-tb-60 {
    margin-top: 60px!important;
    margin-bottom: 60px!important;
}

.m-tb-70 {
    margin-top: 70px!important;
    margin-bottom: 70px!important;
}


/*     css for left-right margins   */

.m-lr-0 {
    margin-left: 0px!important;
    margin-right: 0px!important;
}

.m-lr-5 {
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.m-lr-10 {
    margin-left: 10px!important;
    margin-right: 10px!important;
}

.m-lr-15 {
    margin-left: 15px!important;
    margin-right: 15px!important;
}

.m-lr-20 {
    margin-left: 20px!important;
    margin-right: 20px!important;
}

.m-lr-25 {
    margin-left: 25px!important;
    margin-right: 25px!important;
}

.m-lr-30 {
    margin-left: 30px!important;
    margin-right: 30px!important;
}

.m-lr-35 {
    margin-left: 35px!important;
    margin-right: 35px!important;
}

.m-lr-40 {
    margin-left: 40px!important;
    margin-right: 40px!important;
}

.m-lr-45 {
    margin-left: 45px!important;
    margin-right: 45px!important;
}

.m-lr-50 {
    margin-left: 50px!important;
    margin-right: 50px!important;
}


/*     css for all paddings   */

.p-0{
    padding: 0px!important;
}

.p-5 {
    padding: 5px!important;
}

.p-10 {
    padding: 10px!important;
}

.p-15 {
    padding: 15px!important;
}

.p-20 {
    padding: 20px!important;
}

.p-25 {
    padding: 25px!important;
}

.p-30 {
    padding: 30px!important;
}

.p-35 {
    padding: 35px!important;
}

.p-40 {
    padding: 40px!important;
}

.p-45 {
    padding: 45px!important;
}

.p-50 {
    padding: 50px!important;
}


/*     css for top padding   */

.p-t-0 {
    padding-top: 0px!important;
}

.p-t-5 {
    padding-top: 5px!important;
}

.p-t-10 {
    padding-top: 10px!important;
}

.p-t-15 {
    padding-top: 15px!important;
}

.p-t-20 {
    padding-top: 20px!important;
}

.p-t-25 {
    padding-top: 25px!important;
}

.p-t-30 {
    padding-top: 30px!important;
}

.p-t-35 {
    padding-top: 35px!important;
}

.p-t-40 {
    padding-top: 40px!important;
}

.p-t-45 {
    padding-top: 45px!important;
}

.p-t-50 {
    padding-top: 50px!important;
}


/*     css for bottom padding   */

.p-b-0 {
    padding-bottom: 0px!important;
}

.p-b-5 {
    padding-bottom: 5px!important;
}

.p-b-10 {
    padding-bottom: 10px!important;
}

.p-b-15 {
    padding-bottom: 15px!important;
}

.p-b-20 {
    padding-bottom: 20px!important;
}

.p-b-25 {
    padding-bottom: 25px!important;
}

.p-b-30 {
    padding-bottom: 30px!important;
}

.p-b-35 {
    padding-bottom: 35px!important;
}

.p-b-40 {
    padding-bottom: 40px!important;
}

.p-b-45 {
    padding-bottom: 45px!important;
}

.p-b-50 {
    padding-bottom: 50px!important;
}


/*     css for left padding   */

.p-l-0 {
    padding-left: 0px!important;
}

.p-l-5 {
    padding-left: 5px!important;
}

.p-l-10 {
    padding-left: 10px!important;
}

.p-l-15 {
    padding-left: 15px!important;
}

.p-l-20 {
    padding-left: 20px!important;
}

.p-l-25 {
    padding-left: 25px!important;
}

.p-l-30 {
    padding-left: 30px!important;
}

.p-l-35 {
    padding-left: 35px!important;
}

.p-l-40 {
    padding-left: 40px!important;
}

.p-l-45 {
    padding-left: 45px!important;
}

.p-l-50 {
    padding-left: 50px!important;
}


/*     css for right padding   */

.p-r-0 {
    padding-right: 0px!important;
}

.p-r-5 {
    padding-right: 5px!important;
}

.p-r-10 {
    padding-right: 10px!important;
}

.p-r-15 {
    padding-right: 15px!important;
}

.p-r-20 {
    padding-right: 20px!important;
}

.p-r-25 {
    padding-right: 25px!important;
}

.p-r-30 {
    padding-right: 30px!important;
}

.p-r-35 {
    padding-right: 35px!important;
}

.p-r-40 {
    padding-right: 40px!important;
}

.p-r-45 {
    padding-right: 45px!important;
}

.p-r-50 {
    padding-right: 50px!important;
}


/*     css for top-bottom padding   */

.p-tb-0 {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
}

.p-tb-5 {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.p-tb-10 {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}

.p-tb-15 {
    padding-top: 15px!important;
    padding-bottom: 15px!important;
}

.p-tb-20 {
    padding-top: 20px!important;
    padding-bottom: 20px!important;
}

.p-tb-25 {
    padding-top: 25px!important;
    padding-bottom: 25px!important;
}

.p-tb-30 {
    padding-top: 30px!important;
    padding-bottom: 30px!important;
}

.p-tb-35 {
    padding-top: 35px!important;
    padding-bottom: 35px!important;
}

.p-tb-40 {
    padding-top: 40px!important;
    padding-bottom: 40px!important;
}

.p-tb-45 {
    padding-top: 45px!important;
    padding-bottom: 45px!important;
}

.p-tb-50 {
    padding-top: 50px!important;
    padding-bottom: 50px!important;
}


/*     css for left-right padding   */

.p-lr-0 {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.p-lr-5 {
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.p-lr-10 {
    padding-left: 10px!important;
    padding-right: 10px!important;
}

.p-lr-15 {
    padding-left: 15px!important;
    padding-right: 15px!important;
}

.p-lr-20 {
    padding-left: 20px!important;
    padding-right: 20px!important;
}

.p-lr-25 {
    padding-left: 25px!important;
    padding-right: 25px!important;
}

.p-lr-30 {
    padding-left: 30px!important;
    padding-right: 30px!important;
}

.p-lr-35 {
    padding-left: 35px!important;
    padding-right: 35px!important;
}

.p-lr-40 {
    padding-left: 40px!important;
    padding-right: 40px!important;
}

.p-lr-45 {
    padding-left: 45px!important;
    padding-right: 45px!important;
}

.p-lr-50 {
    padding-left: 50px!important;
    padding-right: 50px!important;
}

/*........margin-padding css ends........*/